* {
     box-sizing: border-box;
   }
   
   body {
     padding: 0;
     margin: 0;
     background-color: white;
     font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   }
   
   nav {
     display: flex;
     justify-content: space-between;
     background-color: #bfd093;
     padding: 15px 20px;
     align-items: center;
   }
   
   nav #icons {
     height: 20px;
     width: 20px;
   }
   
   ul {
     display: flex;
     list-style: none;
     margin: 0;
     padding: 0;
   }
   
   li {
     padding: 0 20px;
   }
   
   a {
     text-decoration: none;
     color: #000;
   }
   
   a:hover {
     text-shadow: 2px 2px 10px rgba(36, 36, 36, 0.5);
   }
   span {
    display: flex;
  }
  #cartIcon{
    position: relative;
  }
  #cartvalue{
    margin: 8px 2px;
  }
   .search input[type="search"] {
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
     background-color: #f2f2f2;
     color: #333;
   }
   
   .boxes {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     gap: 20px;
     justify-items: center;
     max-width: 90%;
     padding: 30px;
     margin: 0 auto;
   }
   
   .box {
     background-color: white;
     border: 1px solid #6f6969;
     border-radius: 5px;
     padding: 10px;
     box-shadow: 5px 5px 15px rgba(36, 36, 36, 0.3);
     text-align: center;
     width: 200px;
     word-wrap: break-word;
   }
   
   .box img {
     height: 60px;
     width: 50px;
   }
   
   .box:hover{
    background-color: #cbc3c3;
    border-color: #cbc3c3;
   }
   .box button {
     padding: 6px 15px;
     border-radius: 4px;
     background-color: #000;
     color: white;
     font-size: 14px;
     cursor: pointer;
   }
   
   .box button:hover {
     background-color: #444;
   }
   
   h1 {
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
     font-size: 40px;
   }
   
   @media screen and (max-width: 768px) {
     nav ul {
       flex-direction: column;
       align-items: center;
     }
   
     ul li {
       padding: 10px 0;
     }
   
     .boxes {
       display: flex;
       flex-direction: column;
     }
   
     .box img {
       height: 100px;
       width: 100px;
     }
   
     .box {
       margin: 0 auto;
       padding: 20px;
     }
   }